# ===================================================================
# Secrets
# ===================================================================
.env
.env.*
*.env

# ===================================================================
# Python / Flask Dependencies & Cache
# ===================================================================
venv/
__pycache__/
*.pyc

# ===================================================================
# Node / React Dependencies & Build Artifacts
# ===================================================================
node_modules/
build/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.pnp
.pnp.js

# ===================================================================
# OS & Editor Specific Files
# ===================================================================
.DS_Store
.vscode/