:root {
  background-color: #252526;
}

.App {
  text-align: center;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.App-title {
  color: aliceblue;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #7676761b;
  border-radius: 1rem;
  gap: 50px;
  padding: 20px;
}

.App-backround {
  color: aliceblue;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 900px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4f2b6750;
  border-radius: 1rem;
  gap: 20px;
}


.input-group {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: flex-start; 
  width: 300px; 
}

.input-group label {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.input-group input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #555;
  border-radius: 5px; 
  color: #3e3e42; 
  box-sizing: border-box; 
}


.password-input-container {
  position: relative;
  width: 100%; 
}


.toggle-password-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
}

.submit-button {
  width: 300px;
  padding: 12px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  align-items:center
}

.error-message {
  color: #d32f2f; 
  font-weight: bold;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #d32f2f;
  border-radius: 5px;
  background-color: #ffcdd2;
}

.success-message {
  color: #388e3c;
  font-weight: bold;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #388e3c;
  border-radius: 5px;
  background-color: #c8e6c9; 
}